@model IEnumerable<Tarbya.Models.EducationalQualification>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-3 offset-9">
        <div class="box-title">
            <h3>اضافة مؤهل دراسى</h3>
        </div>
    </div>
</div>
<br>

<p>
    @Html.ActionLink("اضافة مؤهل الدراسى", "Create")
</p>
<table class="table">
    <tr>
        <th>
            المؤهل الدراسى
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.educationalQualificationName)
            </td>
            <td>
                @Html.ActionLink("تعديل", "Edit", new { id = item.ID }) |
                @Html.ActionLink("مسح", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
