@model Tarbya.Models.Faculty

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-3 offset-9">
        <div class="box-title">
            <h3>مسح الكلية</h3>
        </div>
    </div>
</div>
<br>
<h3>هل تؤكد مسح هذه الكلية؟</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
           الكلية
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facultyName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="مسح" class="btn btn-red" /> |
            @Html.ActionLink("العودة", "Index")
        </div>
    }
</div>
